<div class="text-center">
  <h1 class="h4 text-gray-900 mb-2">Forgot Your Password?</h1>
  <p class="mb-4">We get it, stuff happens. Just enter your email address below and we'll send you a link to reset your password!</p>
</div>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-group mb-3">
    <input type="email" formControlName="email" class="form-control" placeholder="Enter Email Address..."
      [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" />
    <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
      <div *ngIf="f['email'].errors['required']">Email is required</div>
      <div *ngIf="f['email'].errors['email']">Email must be a valid email address</div>
    </div>
  </div>
  <button [disabled]="loading" class="btn btn-primary w-100">
    <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>
    Reset Password
  </button>
  <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
  <div *ngIf="submitted && !error" class="alert alert-success mt-3 mb-0">Please check your email for password reset instructions</div>
  <hr>
  <div class="text-center">
    <a class="small" routerLink="/account/register">Create an Account!</a>
  </div>
  <div class="text-center">
    <a class="small" routerLink="/account/login">Already have an account? Login!</a>
  </div>
</form>
