<div class="text-center">
  <div *ngIf="verifying">
    <span class="spinner-border spinner-border-lg align-center"></span>
    <p>Verifying...</p>
  </div>
  <div *ngIf="!verifying">
    <div *ngIf="!error" class="alert alert-success">
      Verification successful, you can now login
    </div>
    <div *ngIf="error" class="alert alert-danger">
      Verification failed: {{error}}
      <br>
      <a routerLink="/account/forgot-password">Click here to request a new verification email</a>
    </div>
  </div>
</div>
