<h1>Accounts <a routerLink="add" class="btn btn-sm btn-success mb-2 ms-2">Add Account</a></h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Role</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let account of accounts">
      <td>{{account.title}} {{account.firstName}} {{account.lastName}}</td>
      <td>{{account.email}}</td>
      <td>{{account.role}}</td>
      <td>
        <span *ngIf="account.isVerified" class="badge bg-success">Verified</span>
        <span *ngIf="!account.isVerified" class="badge bg-warning text-dark">Unverified</span>
      </td>
      <td class="text-end">
        <a [routerLink]="['edit', account.id]" class="btn btn-sm btn-primary me-1">Edit</a>
        <button (click)="deleteAccount(account)" class="btn btn-sm btn-danger" [disabled]="account.isDeleting">
          <span *ngIf="account.isDeleting" class="spinner-border spinner-border-sm"></span>
          <span *ngIf="!account.isDeleting">Delete</span>
        </button>
      </td>
    </tr>
    <tr *ngIf="!accounts">
      <td colspan="5" class="text-center">
        <span class="spinner-border spinner-border-lg align-center"></span>
      </td>
    </tr>
  </tbody>
</table>
